.destination {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-image: url('../../../public/destination/background-destination-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
}