.destination-textbox {
  position: absolute;
  right: 11vw;
  bottom: 13vh;
  width: 30vw;
  .nav-container {
    display: flex;
    .nav-text {
      font-size: 1.4rem;
      margin-right: 3vw;
      cursor: pointer;
      mix-blend-mode: normal;
      position: relative;
      &:before {
        content: '';
        width: 0;
        height: 3px;
        background-color: white;
        opacity: 0.5;
        position: absolute;
        left: 0;
        bottom: -1vh;
        transition: width 0.4s;
      }
      &:hover:before {
        width: 100%;
      }
      .nav-active {
        width: 100%;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 0;
        bottom: -1vh;
      }
    }
  }
  h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
  }
  .body-text {
    color: #D0D6F9;
  }
  hr {
    margin-top: 6vh;
    width: 30vw;
    border-top: 1px solid #383B4B;
  }
  .text-footer {
    display: flex;
    .subheading-container {
      width: 50%;
      margin-top: 3vh;
      .subheading2 {
        margin-bottom: 1vh;
        color: #D0D6F9;
      }
    }
  }
}