.page-title {
  display: flex;
  margin-top: 212px;
  margin-left: 166.5px;
  width: auto;
  color: white;
  .title-number {
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-right: 28px;
  }
}