.page-title {
  display: flex;
  position: absolute;
  top: 24vh;
  left: 11vw;
  width: auto;
  color: white;
  .title-number {
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-right: 28px;
    font-weight: 700;
  }
}