nav {
  width: 60%;
  height: 96px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 11.5vw;
  .nav-item {
    display: flex;
    height: 100%;
    margin-right: 3.4vw;
    align-content: center;
    position: relative;
    cursor: pointer;
    .nav-text {
      margin: auto;
    }
    .number {
      font-weight: bold;
      margin-right: 0.7vw;
    }
  }
  a {
    color: white;
    text-decoration: none;
    height: 100%;
    border-bottom: 4px solid transparent;
    transition: 0.4s;
    position: relative;
    &:before {
      content: '';
      width: 0;
      background-color: white;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: 0.4s;
      opacity: 0.5;
    }
    &:hover:before, &:active:before, &.active:before {
      width: 100%;
    }
    &.active::before {
      opacity: 1;
    }
  }
}